@import "./index.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5b575745;
  backdrop-filter: blur(5px);
  box-shadow: 0 45px 65px rgba(5, 5, 5, 0), 0 35px 22px rgba(0, 0, 0, 0.16);
  height: 120px;
  z-index: 2;

  .navbar-container {
    max-width: 1440px;
    margin: auto;
    padding: 10px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 100px;
        height: 100px;
      }

      .nav-link {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 1.4rem;
        margin-right: 30px;

        &:hover {
          color: $KindOfRed;
        }
        &.active {
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
      ul {
        display: flex;
        li {
          all: unset;

          button {
            background-color: transparent;
            border-radius: 50px;
            height: 40px;
            width: 40px;
            border: none;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.4);
              cursor: pointer;
            }

            img {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
