@import "./index.scss";

.father {
  position: relative;
}
.search-input {
  color: black;
  all: unset;
  height: 50px;
  width: 500px;
  position: absolute;
  top: 40px;
  left: -490px;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  padding: 0 20px;
}
