@import "./index.scss";

.toggle {
  all: unset;
  border-radius: 50px;
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 50%;
  height: 20px;
  width: 20px;
  img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 900px) {
  .toggle {
    left: 94%;
    top: 30px;
  }
}
